@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<div @*role="form"*@>
    <div class="box-body">
        <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
            <label for="exampleInputPassword1">نام محصول </label>
            <input type="text" class="form-control" id="ProductNameInput" placeholder="نام محصول">
        </div>
        <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
            <label for="exampleInputPassword1">برند </label>
            <input type="email" class="form-control" id="BrandInput" placeholder="برند">
        </div>
        <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
            <label> دسته بندی را انتخاب کنید</label>
            <select asp-items=@ViewBag.Parents class="form-control" id="CategoryInput">
            </select>
        </div>
        <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
            <label> تعداد موجود </label>
            <div class="input-group">
            </div>
            <input type="text" class="form-control" id="CountInput" />
        </div>
        <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label for="basicInput"> قیمت</label>
                <input type="number" class="form-control" id="PriceInput">
            </fieldset>
        </div>
        <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label for="basicInput">نمایش داده شود؟ </label>
                <input type="checkbox" class="form-control" id="DisplayedInput">
            </fieldset>
        </div>
        <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label for="basicInput">تصاویر </label>
                <input type="file" multiple class="form-control" id="PictureInput" accept="image/*" id="ImagesInput">
            </fieldset>
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 mb-1">
            <fieldset class="form-group">
                <label for="basicInput"> توضیحات</label>
                <textarea id="DescriptionInput" class="form-control " rows="5"></textarea>
            </fieldset>
        </div>
        <hr />
        <hr />
        <hr />
        <br>
        <br>
        <br>
        <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label for="basicInput"> نام ویژگی </label>
                <input type="text" class="form-control" id="txtDisplayName" placeholder="نام ویژگی" />
            </fieldset>
        </div>
        <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <label for="basicInput"> مقدار ویژگی </label>
                <input type="text" class="form-control" id="txtValue" placeholder="مقدار ویژگی" />
            </fieldset>
        </div>
        <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <br />
                <a class="btn btn-success" id="btnAddFeatures">افزودن</a>
            </fieldset>
        </div>
        <br class="clear" />
        <table id="tbl_Features" class="col-md-12 table table-bordered table-hover  table-condensed table-responsive">
            <thead>
                <tr>
                    <th>
                        نام ویژگی
                    </th>
                    <th>
                        مقدار ویژگی
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="box-footer">
    <button class="btn btn-primary" onclick="RegisterProduct()">افزودن محصول</button>
</div>

@section javascript
    {

    <link href="/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="/Sweetalert2/sweetalert2.min.js"></script>


    <script>


        $("#btnAddFeatures").on("click", function () {
            var txtDisplayName = $("#txtDisplayName").val();
            var txtValue = $("#txtValue").val();
            if (txtDisplayName == "" || txtValue == "") {
                swal.fire(
                    'هشدار!',
                    "نام و مقدار را باید وارد کنید",
                    'warning'
                );
            }
            else {

                $('#tbl_Features tbody').append('<tr> <td>' + txtDisplayName + '</td>  <td>' + txtValue + '</td> <td> <a class="idFeatures btnDelete btn btn-danger"> حذف </a> </td> </tr>');
                $("#txtDisplayName").val('');
                $("#txtValue").val('');
            }
        });

        $("#tbl_Features").on('click', '.idFeatures', function () {
            $(this).closest('tr').remove();
        });

        function RegisterProduct() {

            var dataFeaturesViewModel = $('#tbl_Features tr:gt(0)').map(function () {
                return {
                    Key: $(this.cells[0]).text(),
                    Value: $(this.cells[1]).text(),
                };
            }).get();

            swal.fire({
                title: 'ثبت نام کاربر',
                text: "آیا میخواهید ثبت نام کالا را انجام دهید؟",
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله ثبت نام انجام شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var ProductName = $("#ProductNameInput").val();
                    var Brand = $("#BrandInput").val();
                    var Count = $("#CountInput").val();
                    var CategoryId = $("#CategoryInput").val();
                    var Description = $("#DescriptionInput").val();

                    var product = {
                        'ProductName': ProductName,
                        'Brand': Brand,
                        'Count': Count,
                        'CategoryId': CategoryId,
                        'Description': Description,
                    };
                    $.ajax({

                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "Addproduct",
                        data: product,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                debugger
                                var product = data.result;
                                var productId = data.result.id;
                                console.log(productId);
                                var productPrice = {

                                    'Price': $("#PriceInput").val(),
                                    'ProductId': productId,
                                };

                                $.ajax({
                                    contentType: 'application/x-www-form-urlencoded',
                                    dataType: 'json',
                                    type: "POST",
                                    url: "AddProductPrice",
                                    data: productPrice,
                                    success: function (data) {
                                        if (data.isSuccess == true) {
                                            var feature = {
                                                'productFeatures': dataFeaturesViewModel,
                                                'productId': productId
                                            }
                                            $.ajax({
                                                contentType: 'application/json; charset=utf-8',
                                                dataType: 'json',
                                                type: "POST",
                                                url: "AddProductFeature",
                                                data: JSON.stringify(feature),
                                                success: function (data) {
                                                    if (data.isSuccess == true) {


                                                        var fileUpload = $("#PictureInput").get(0);
                                                        var files = fileUpload.files;

                                                        // Create FormData object
                                                        var fileData = new FormData();

                                                        // Looping over all files and add it to FormData object
                                                        for (var i = 0; i < files.length; i++) {
                                                            fileData.append(files[i].name, files[i]);
                                                        }

                                                        // Adding one more key to FormData object
                                                        fileData.append('productId', productId);


                                                        $.ajax({
                                                            url: 'AddProductPicture',
                                                            type: "POST",
                                                            contentType: false, // Not to set any content header
                                                            processData: false, // Not to process data
                                                            data: fileData,
                                                            success: function (data) {
                                                                if (data.isSuccess == true) {


                                                                }
                                                                else {

                                                                    swal.fire(
                                                                        'هشدار!',
                                                                        data.message,
                                                                        'warning'
                                                                    );

                                                                }
                                                            },
                                                            error: function (request, status, error) {
                                                                alert(request.responseText);
                                                            }
                                                        });

                                                    }
                                                    else {

                                                        swal.fire(
                                                            'هشدار!',
                                                            data.message,
                                                            'warning'
                                                        );

                                                    }
                                                },
                                                error: function (request, status, error) {
                                                    alert(request.responseText);
                                                }
                                            });


                                        }
                                        else {

                                            swal.fire(
                                                'هشدار!',
                                                data.message,
                                                'warning'
                                            );

                                        }
                                    },
                                    error: function (request, status, error) {
                                        alert(request.responseText);
                                    }

                                });


                            }
                            else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });


                }
            });
        }
    </script>
}
