@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="box-body">
    <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
        <label for="exampleInputEmail1">نام دسته بندی</label>
        <input type="email" class="form-control" id="categoryInput" placeholder="نام دسته بندی ">
    </div>

    <fieldset class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
        <label> پدر دسته بندی </label>
        <select asp-items=@ViewBag.parents name="Parents"  class="form-control" id="ParentInput">
        </select>
    </fieldset>
    <div class="form-group col-xl-2 col-lg-6 col-md-12 mb-1">
        <fieldset class="form-group">
            <label for="basicInput">تصاویر </label>
            <input type="file" multiple class="form-control" id="PictureInput" accept="image/*" id="ImagesInput">
        </fieldset>
    </div>

</div>

<div class="box-footer">
    <button class="btn btn-primary" onclick="RegisterCategory()">ثبت</button>
</div>

@section javascript
    {

    <link href="/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="/Sweetalert2/sweetalert2.min.js"></script>


    <script>

        function RegisterCategory() {



            swal.fire({
                title: 'ثبت نام کاربر',
                text: "آیا میخواهید ثبت نام دسته را انجام دهید؟",
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله ثبت نام انجام شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {


                    var categoryName = $("#categoryInput").val();
                    var parentId = $("#ParentInput").val();

                    var addUserViewModel = {
                        'categoryName': categoryName,
                        'parentId': parentId,
                    };

                    $.ajax({

                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "AddCategory",
                        data: addUserViewModel,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                debugger
                                var fileUpload = $("#PictureInput").get(0);
                                var files = fileUpload.files;

                                // Create FormData object
                                var fileData = new FormData();

                                // Looping over all files and add it to FormData object
                                for (var i = 0; i < files.length; i++) {
                                    fileData.append(files[i].name, files[i]);
                                }

                                // Adding one more key to FormData object
                                console.log(data.result.categoryId)
                                fileData.append('categoryId', data.result.categoryId);




                                $.ajax({
                                    url: 'AddCategoryPicture',
                                    type: "POST",
                                    contentType: false, // Not to set any content header
                                    processData: false, // Not to process data
                                    data: fileData,
                                    success: function (data) {
                                        if (data.isSuccess == true) {

                                            swal.fire(
                                                'موفق!',
                                                data.Message,
                                                'success'
                                            ).then(function (isConfirm) {
                                                location.reload();
                                            });

                                        }
                                        else {

                                            swal.fire(
                                                'هشدار!',
                                                data.message,
                                                'warning'
                                            );

                                        }
                                    },
                                    error: function (request, status, error) {
                                        alert(request.responseText);
                                    }
                                });


                            }
                            else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });


                }
            })
        }
    </script>
}
